
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=a72289a2-6fe9-4f46-b8b6-295978475997");
@font-face{
font-family:"Avenir Next W00_n3";
src:url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir Next W00";
src:url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix");
src:url("../fonts/5db267f9-3612-485c-ae18-5698d2692816.eot?#iefix") format("eot"),url("../fonts/174d458a-81e0-4174-9473-35e3bf0a613c.woff2") format("woff2"),url("../fonts/57a79aa3-9b06-4ba7-a9a4-2b766d826ecf.woff") format("woff"),url("../fonts/733cb7bd-50e1-4dee-893a-0b40ef382b02.ttf") format("truetype"),url("../fonts/594135c6-6c4f-4880-a0d2-ba923b5ef38e.svg#594135c6-6c4f-4880-a0d2-ba923b5ef38e") format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Avenir Next W00_n4";
src:url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir Next W00";
src:url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix");
src:url("../fonts/069faa0e-9913-48c4-9ef7-89a4bc080b65.eot?#iefix") format("eot"),url("../fonts/7db1f672-3a8f-4d19-9c49-7f61aed450b5.woff2") format("woff2"),url("../fonts/4ab86b35-c0c2-42b5-98ad-4b6eba66b197.woff") format("woff"),url("../fonts/276b3566-1c3b-4bc1-8915-15314f091f29.ttf") format("truetype"),url("../fonts/5d02f5f4-46e7-453a-aef9-3e7106d7bb68.svg#5d02f5f4-46e7-453a-aef9-3e7106d7bb68") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Avenir Next W00_n5";
src:url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir Next W00";
src:url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix");
src:url("../fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix") format("eot"),url("../fonts/b0b84e4d-2164-45c7-a674-1662f19f3ba6.woff2") format("woff2"),url("../fonts/e91d1bbf-3fea-45e2-b003-a22b12ce6e5f.woff") format("woff"),url("../fonts/ead8b64b-1abd-4d5b-a642-a21dfe2f463b.ttf") format("truetype"),url("../fonts/e536e1c2-92a4-4db4-8a41-1c55354d11b7.svg#e536e1c2-92a4-4db4-8a41-1c55354d11b7") format("svg");
font-weight: 500;
font-style: normal;
}
@font-face{
font-family:"Avenir Next W00_n6";
src:url("../fonts/fbf4298d-ef75-419c-b615-47f209a48ed2.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir Next W00";
src:url("../fonts/fbf4298d-ef75-419c-b615-47f209a48ed2.eot?#iefix");
src:url("../fonts/fbf4298d-ef75-419c-b615-47f209a48ed2.eot?#iefix") format("eot"),url("../fonts/40d36b4a-60c6-460a-bf43-4c948c23563e.woff2") format("woff2"),url("../fonts/45b78f45-e639-4836-8612-e0892e120f14.woff") format("woff"),url("../fonts/cbc021cc-b96f-4c82-ba0d-59cb0b7449c0.ttf") format("truetype"),url("../fonts/c6778bcf-ca82-4a86-8a5f-08b70c9a71fd.svg#c6778bcf-ca82-4a86-8a5f-08b70c9a71fd") format("svg");
font-weight: 600;
font-style: normal;
}
@font-face{
font-family:"Avenir Next W00_n7";
src:url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix") format("eot")
}
@font-face{
font-family:"Avenir Next W00";
src:url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix");
src:url("../fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix") format("eot"),url("../fonts/4c04fb14-abdb-4f93-82bb-734d1b84307b.woff2") format("woff2"),url("../fonts/04d2f223-2786-40c9-8481-be9dd47d8e7f.woff") format("woff"),url("../fonts/bce3274e-f498-48ae-b269-a6930df496e7.ttf") format("truetype"),url("../fonts/68f0375d-f66f-4f88-822a-5a0b61d2efc0.svg#68f0375d-f66f-4f88-822a-5a0b61d2efc0") format("svg");
font-weight: 700;
font-style: normal;
}
